body {
    background-color: aquamarine;
    background-image:url(../..//images/win7.gif);
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

h1 {
    color: darkcyan;
    font-size: x-large;
}

h2 {
    color: navajowhite;
    font-size: large;
}

#начало {
    border: 6px solid ;
    padding: 20px 40px;
    width: 1200px;
}
