body {
    background-image: url(../../starbuzz/images/win.gif);
    background-repeat: no-repeat;
    background-color:  rgba(189, 189, 189, 0.699);
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    width: 85%;
    padding: 2%;
    margin-left: 6%;
    margin-top: 2%;
}

h1 {
    color: rgba(7, 21, 148, 0.849);
    font-size: x-large;
}

h2 {
    color: rgb(250, 105, 21);
    font-size: large;
}

#vse {
    border:4px solid rgb(190, 184, 184) ;
    padding: 2% 0%;
    height: 80%; 
} 
                    /* sdsadasdasdasdasdas */
#vse2 {
    border-top: 4px solid rgb(190, 184, 184) ;
    margin-top: 2%;
    width: 100%;
    padding: 0px;
}

#vse3 {
    height: 80%;
    min-width: 100px;
}

header {
    height: 60px;
    padding: 1%;

}

aside {
    width: 12%;
    text-align: center;
    padding:1px ;
    height: 2%;
    line-height: 300%;
}

section {
    border-right: 4px solid rgb(190, 184, 184) ;
    border-left: 4px solid rgb(190, 184, 184) ;
    width: 45%;
    height: 53%;
    padding-left: 2%;
    padding-right: 3%;
    margin-top: 6px;
    position: absolute;
    left: 19%;
    top: 26%;
}

footer {
    width: 80%;
    font-size: small;
    color: rgba(104, 104, 104, 0.993);
    text-align: center;
    margin-top:20%;
    position: absolute;
    top: 53%;
    left: 9%;
}

#Directory {
    color: red;
    font-size: large;
    position: absolute;
    left: 63%;
    top: 15%;
}

#FAQ {
    color: red;
    font-size:large;
    position:  absolute;
    left: 54%;
    top: 15%;
}

#Contact{
    color: red;
    font-size: large;
    position:  absolute;
    left: 42%; 
    top: 15%;
}

#Register {
    color: red;
    font-size: large;
    padding: 10px;
    position:  absolute;
    left: 73%;  
    top: 14%;
}

#logo {
    position: absolute;
    left:9%;
    top:8%;
}

#uzor {
    position: absolute;

}

#white {
    position: absolute;
    left:85%;
    top:10%;
    border: 2px solid rgba(0, 81, 255, 0.24);
}

#bochka {
    float: right;
    border: 2px solid rgba(255, 72, 0, 0.753);
}

#bochka2 {
    float:right;
    position: absolute;
    left: 73%;
    top:53%;
    border: 3px solid rgba(255, 72, 0, 0.753);
}

#ph {
    margin-top: 5%;
}

a {
    color: rgba(7, 21, 148, 0.849);
}

a:visited {
    color: rgb(37, 153, 37);
}

a:active {
    color: rgb(250, 105, 21);
}