body {
    background-color: thistle;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}

#tablecontainer {
    border:4px solid wheat ;
    background-color: white;
    margin-left: 12%;
    padding: 2%;
    width: 50%;
}

