body {
    background-image: url(../starbuzz/images/water.jpg);
    background-repeat: no-repeat;   
}

h2 {
    font-size: 130%;
}

p {
    color:red;
}

p.vans {
    color:rgb(2, 124, 2);
}

p.nike {
    background-color: white;
    background-position: top left;
    background-repeat: no-repeat;
    background-image: url(images/purple.gif); 
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    font-style: italic;
    margin-left: 30px;
    margin-right: 20px;
    padding:25px;
    padding-left: 30px;
    padding-right: 25px;
    padding-top: 15px;
    border-color: darkorange;
    border-style: ridge;
}

p.quarantee {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-color: black;
    border-width: 1px;
    border-style: ridge;
    background-color: #a7cece;
    padding: 25px;
    margin: 30px;
    line-height:1,9em;
    font-style: italic;
    color: #444444;
    background-image: url(images/happy2.gif);
    background-position: top left;
    background-repeat: no-repeat;
    padding-left: 80px;
    margin-right:250px;
}

#начало {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    text-align: center;
    color: rgb(241, 255, 241);
    background-color: rgba(225, 150, 65, 0.377);
    border-top: olivedrab;
    border-left: olivedrab;
    border-right: rgb(179, 179, 5);
    border-bottom: rgb(167, 167, 9);
    background-image: url();
    border-style: solid;
    border-radius: 40px;
    border-width: 10px;
}