body { 
  background-color: rgb(13, 18, 59);
  color: rgb(172, 88, 20);
  font-family: Verdana, Geneva, Arial, sans-serif;
  font-size: small;
}
h1, h2 {
  border-bottom: thin dotted #088808;
  color: rgb(21, 126, 126);
  text-decoration: dashed;
}
h1 {
  font-family:     "Emblema One", sans-serif;
  font-size:  200%;
}
h2 {
  font-size:       130%;
  font-weight: 300;
}
blockquote {
  font-style: italic;
  font-size: medium;
}

p {
  font-weight: bold;
  font-size: larger;
  color: rgb(153, 150, 156);
}

ul, li, ol { 
  font-size: medium;
}

em {
  font-size: x-large;
  text-decoration: overline;
}
