body {
    background-image: url();
    background-position: center;
    background-repeat: no-repeat;
}

#начало {
    font: Arial, Helvetica, sans-serif normal white;
    font-style: italic;
    font-size: large;
    color:white;
    background-color: rgba(248, 48, 198, 0.384);
    border: 7px double  ;
    border-color:blueviolet;
    padding: 20px 30px;
    text-decoration: double;
}

p#началотекст {
    font: large;
}

#середка {
    font: Arial, Helvetica, sans-serif normal medium;
    font-style: normal;
    text-align: center;
    color: white;
    background-color: rgba(221, 135, 6, 0.568);
    border:7px 0px;
    border-color: coral;
    border-style: solid;
    width: 415px;
    position: absolute;
    padding: 20px;
    top:495px;
    left:8px;
}

#начинка {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-style: normal;
    color:white;
    border-right: solid 7px;
    border-left: solid 7px;
    border-bottom: solid 7px;
    border-color: rgb(255, 115, 0);
    background-color: rgba(28, 10, 92, 0.781);
    width: 741px;
    position: absolute;
    left: 462px;
    top:356px;
    text-align: center;
    background-image: url(images/orig.gif);
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 100px;
}

#ссылки {
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: absolute;
    top:356px;
    border-left: solid 5px grey;
    background-color: rgba(255, 127, 80, 0.774);
    width: 450px;
}

#конецвкаждом {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-style: normal;
    border:double 7px blue;
    background-color: rgb(151, 156, 156);
    position: absolute;
    top:674px ;
    text-align: left;
    padding:0px 30px;
}

#dr2 {
    color: rgb(236, 20, 20);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
    border:8px solid black;
    padding: 30px;
}

#dr1 {
    background-color: black;
    background-image: url(images/logo.gif);
    background-position: top left;
    background-repeat: no-repeat;
}

#dr {
    position: absolute;
    left: 400px;
    top: 200px;
}

#dr3 {
    padding-left: 150px;
    color: aliceblue;
}

span.cd {
    font-style: italic;
}

span.artist {
    font-weight: bold;
}

a:link {
    color: dodgerblue;
}

#elixirs a:visited {
    color: firebrick;
    background-color: red;
}

#elixirs a:hover {
    color: gold;
}

#elixirs a:hover {
    color: indigo;
}

img {
    border: 2px solid blue;
}
