body {
    background-color: #b5a789;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: small;
    padding-top:1% ;
    padding-right: 4%;
    padding-bottom:  0%; 
}

#vse {
    border: 1px solid rgba(220, 220, 220, 0);
    margin-left: 3%;
}

#tablecontainer {
    display: table;
    border-spacing: 7px;
    width: 100%;
}

#tablerew {
    display: table-row;
}

header.top {
    background-color: #675c47;
    height: 108px;
    border: 4px solid rgba(220, 220, 220, 0);
    margin-left: 7px;
    margin-right: 7px;
}

a.selected:link {
    border: 3px solid #b76666;
    padding: 3px;
}

a.selected:hover {
    color:#b76666;
    text-decoration: none;
    border: 1px solid #b76666;
}

a.selected:active {
    border: 3px solid #df350a;
    background-color: #f1670ae5;
}

nav {
    background-color: #efe5d0;
    margin: 7px 7px 0px 7px;
}
nav ul {
	margin: 0px;
	list-style-type: none;
	padding: 5px 0px 5px 0px;
}
nav ul li {
	display: inline;
	padding: 5px 10px 5px 10px;
}
nav ul li a:link, nav ul li a:visited {
	color: #954b4b;
	border-bottom: none;
	font-weight: bold;
}

nav ul li.selected {
	background-color: #c8b99c;
}

article#drinks, section, aside {
    background-color:#efe5d0;
    display: table-cell;
    color: rgb(133, 107, 74);
    padding: 7px;
    vertical-align: top;
}

article#drinks {
    width: 12%;
}

section {
    font-size: 105%;
    background-image: url(../starbuzz/images/background3.gif);
    background-repeat: no-repeat;
    background-position: top;
}

aside {
    text-align: center;
    width: 23%;
}

footer {
    background-color: #675c47;
    color: #ece4d3;
    text-align: center;
    font-size: 90%;
    padding: 1%;
    margin-left: 6px;
    margin-right: 7px;
}

#hth {
    text-align: center;
}

h1 {
    font-size: 120%;
    color: #954b4b;
}

#h1 {
    text-align: left;
}

h2 {
    font-size: 110%;
}

#Slogan {
    float: right;
}

#Logo {
    float: left;
}

#award {
    position: absolute;
    top: 11%;
    left:71%;
}

#ticket {
    position: fixed;
    top: 30%;
    left: -4%;
}

#dom {
    color: #5e5037;
    text-decoration: dotted;
    line-height: 2%;
}


